/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/montserrat-v25-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/montserrat-v25-latin-regular.woff') format('woff'),
        /* Modern Browsers */

}

/* montserrat-500 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: local(''),
        url('../fonts/montserrat-v25-latin-500.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/montserrat-v25-latin-500.woff') format('woff'),
        /* Modern Browsers */

}

/* montserrat-700 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/montserrat-v25-latin-700.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/montserrat-v25-latin-700.woff') format('woff'),
        /* Modern Browsers */

}

/* montserrat-600 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: local(''),
        url('../fonts/montserrat-v25-latin-600.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/montserrat-v25-latin-600.woff') format('woff'),
        /* Modern Browsers */
}

/* raleway-regular - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/raleway-v28-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/raleway-v28-latin-regular.woff') format('woff'),
        /* Modern Browsers */

}

/* raleway-600 - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    src: local(''),
        url('../fonts/raleway-v28-latin-600.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/raleway-v28-latin-600.woff') format('woff'),
        /* Modern Browsers */
}

/* raleway-700 - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/raleway-v28-latin-700.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/raleway-v28-latin-700.woff') format('woff'),
        /* Modern Browsers */
}

:root {
    --gray: #707070;
    --gray-f: #333333;
    --orange: #F16822;
    --gray-icone: #EEEEEE;
}

/* Layout */
.container {
    width: 100%;
    margin-left: auto !important;
    margin-right: auto !important;
    padding-left: 2rem;
    padding-right: 2rem;
}

@media screen and (min-width: 36em) {

    /* 576px */
    .container {
        max-width: 58rem;
    }
}

@media screen and (min-width: 48em) {

    /* 768px */
    .container {
        max-width: 76rem;
    }
}

@media screen and (min-width: 62em) {

    /* 992px */
    .container {
        max-width: 100rem;
    }
}

@media screen and (min-width: 75em) {

    /* 1200px */
    .container {
        max-width: 118rem;
    }
}

/* header */

.nav-content {
    display: flex;
    justify-content: space-around;
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
}

.logo {
    display: flex;
}

.text-logo {
    width: 100%;
    margin-left: 2rem;
}

.nav-items {
    text-transform: uppercase;
    display: flex;
}

.nav-items li a:hover {
    background-color: var(--orange);
    color: white;
    cursor: pointer;
}

.nav-items li a {
    text-decoration: none;
    color: var(--gray-f);
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.4rem;
    padding: 1.6rem 2rem;
    transition: ease-in-out .3s;
}

.nav-list {
    margin-top: auto;
    margin-bottom: auto;
}

.text-logo p:first-child {
    color: var(--gray);
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
}

.text-logo p:last-child {
    color: var(--gray);
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
}

/* section hero */

.main-hero {
    background-image: url("/img/slider1.png");
    text-align: center;
    display: flex;
    position: relative;
    overflow: hidden;
    /*width: 100vw;*/
}

.main-hero h1 {
    color: var(--orange);
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 6.4rem;
    margin-bottom: 5rem;

}

.main-hero p {
    color: var(--gray-f);
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 3.2rem;
    margin: 0 26rem;
}

.center-text {
    margin-top: 30rem;
}

/* css custom lib spilde */

.splide.is-initialized {
    width: 100%;
    height: 96rem;
}

.splide__arrows .splide__arrow {
    background-image: url(img/arrow-circle-left.png);
    width: 5rem;
    height: 5rem;
    background-color: inherit;
}

.splide__arrows .splide__arrow svg {
    display: none;
}

.splide__arrows .splide__arrow--next {
    transform: rotate(180deg);
    right: 10rem;
    top: 40rem;
}

.splide__arrows .splide__arrow--prev {
    transform: rotate(0);
    left: 10rem;
    top: 40rem;
}

li .splide__pagination__page {
    border-radius: 0%;
    background-color: var(--gray-f);
}

li .splide__pagination__page.is-active {
    background-color: var(--orange);
    opacity: 1;
}

section .splide__pagination {
    bottom: 8rem;
}

/* section services */

h2 {
    color: var(--gray-f);
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 4.8rem;
}

.main-services h2 {
    padding-top: 17rem;
}

.main-services {
    text-align: center;
    position: relative;
}

.points {
    display: flex;
}

.point {
    width: 1rem;
    height: 1rem;
    background-color: var(--orange);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.main-information .points .p2 {
    background-color: var(--gray-icone);
}

.p2 {
    margin-left: 2rem;
    background-color: var(--gray-f);
}

.list-point2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.sub-title {
    color: var(--gray-f);
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 2.4rem;
    margin-top: 5.4rem;
}

.list-service {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 17rem;
}

.list-service li {
    width: 31.7rem;
    padding: 0 1rem 2rem 1rem;
}

.icone {
    width: 12.5rem;
    height: 12.5rem;
    background-color: var(--gray-icone);
    border-radius: 50%;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
}

.text-icone {
    color: var(--gray-f);
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;
    margin: 2.4rem 0;
}

.description-text-icone {
    color: var(--gray-f);
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
}

.consultation {
    background-image: url(img/briefcase.svg);
}

.blogging {
    background-image: url(img/notes.svg);
}

.social-media {
    background-image: url(img/star.svg);
}

.seo {
    background-image: url(img/bolt.svg);
}

/* section information */

.main-information h2 {
    color: var(--orange);
    padding-top: 17rem;
}

.main-information {
    text-align: center;
    background-image: url(img/bokehback.png);
    position: relative;
    height: 91.3rem;
    overflow: hidden;
}

.withe {
    color: var(--gray-icone);
}

.main-information img {
    position: absolute;
    bottom: 0;
    left: 10rem;
    object-fit: none;
}

/* section posts */

.main-posts {
    text-align: center;
    background-color: #F9F9F9;
    padding-bottom: 18.3rem;
}

.main-posts>p {
    color: var(--gray);
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 2.4rem;
    padding: 5.4rem 43.6rem 1.6rem 43.6rem;
}

.main-posts h2 {
    padding-top: 17rem;
}

.main-card {
    padding-top: 11.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10rem 4rem;
}

.card {
    background-color: white;
    padding: 2.5rem 2.5rem 0 2.5rem;
    box-shadow: 0px 3px 6px #00000029;
}

.card img {
    margin-left: auto;
    margin-right: auto;
}

.card p.title-card {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 4rem;
    color: var(--orange);
    padding-top: 7.3rem;
}

.card p.description-card {
    color: var(--gray);
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.6rem;
    padding: 2.5rem 3rem 2.5rem 4.5rem;
}

/* section fun facts */

.main-fun-facts {
    text-align: center;
    padding-top: 17rem;
    position: relative;
}

.main-fun-facts img {
    position: absolute;
    top: 0;
    height: 100%;
    width: 120%;
    z-index: -10;
    opacity: .1;
}

.number-group {
    padding-top: 8.3rem;
    display: grid;
    padding-bottom: 17rem;
}

.number-item {
    grid-row: 1;
}

.number-title {
    color: var(--orange);
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 6.4rem;
}

.number-text {
    color: var(--gray-f);
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;
    text-transform: uppercase;
}


/* section amanda */

.main-amanda {
    padding-top: 7rem;
    position: relative;
}

.main-amanda>img {
    position: absolute;
    top: 0;
    z-index: -10;
    opacity: .9;
    height: 60rem;
    width: 120%;
}

.main-amanda .points {
    margin-bottom: 7rem;
}

.description-amanda {
    display: flex;
    justify-content: center;
    margin-bottom: 10rem;
}

.description-amanda img {
    border-radius: 50%;
    margin-right: 5rem;
    height: 22rem;
}

.title-amanda {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 4.8rem;
    color: #FFFFFF;
}

.text-amanda {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 2.4rem;
    color: var(--gray-icone);
}

/* footer */

.main-footer {
    background-color: var(--gray-f);
    height: 60rem;
}

.footer-global {
    display: flex;
    justify-content: space-around;
    padding-top: 11rem;
    padding-bottom: 11rem;
    border-bottom: solid .2rem #444444;
}

.title-list {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;
    text-transform: uppercase;
    color: var(--orange);
    margin-bottom: 2rem;
}

.list-footer {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 2rem;
    color: var(--gray-icone);
    margin-left: 2rem;
}

.list-item::before {
    content: '';
    background-image: url(img/angle-double-right.svg);
    background-repeat: no-repeat;
    width: 1rem;
    height: 1rem;
    position: absolute;
    left: 0;
    margin-top: 1rem;
}

.list-column {
    position: relative;
    line-height: 4rem;
}

.list-column span {
    background-color: #444444;
    padding: .5rem 1.2rem;
    margin: .5rem;
    line-height: 4rem;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--gray-icone);
}

.list-item-place::before {
    content: '';
    background-image: url(img/map-marker.svg);
    background-repeat: no-repeat;
    width: 5rem;
    height: 5rem;
    position: absolute;
    left: 0;
    margin-top: 1rem;
}

.list-item-place,
.list-item-phone,
.list-item-mail {
    margin-left: 2rem;
}

.list-item-phone::before {
    content: '';
    background-image: url(img/phone.svg);
    background-repeat: no-repeat;
    width: 5rem;
    height: 5rem;
    position: absolute;
    left: 0;
    margin-top: 1rem;
}

.list-item-mail::before {
    content: '';
    background-image: url(img/envelope.svg);
    background-repeat: no-repeat;
    width: 5rem;
    height: 5rem;
    position: absolute;
    left: 0;
    margin-top: 1rem;
}

.icons {
    display: flex;
}

.icons img {
    margin-left: 2rem;
}

.copyright-text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 2.4rem;
    color: #777777;
}

.copyright {
    display: flex;
    justify-content: space-between;
    margin-top: 3.5rem;
}
